<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <base href="<%=htmlWebpackPlugin.options.project%>/"/>
    <meta charset="UTF-8"/>
    <meta name="applicable-device" content="pc">
    <meta http-equiv="x-ua-compatible" content="chrome=1,ie=edge"/>
    <meta name="viewport" content="width=1220, initial-scale=1"/>
    <meta name="Keywords" content="中移物联网开放平台 物联网轻应用服务 OneNET轻应用平台 物联网BaaS平台 轻应用平台">
    <meta name="Description" content="BaaS-中国移动物联网轻应用平台是由中国移动打造的物联网轻应用开放平台。平台能够帮助开发者快速地开发出基于OneNET的物联网web应用。">
    <title>{{&appname}}</title>
    <script type="text/javascript" src="dll/dll.vendor.js"></script>
</head>
<body class="core">
<div id="layout">
</div>
</body>
</html>
