<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <base href="<%=htmlWebpackPlugin.options.project%>/"/>
    <meta charset="UTF-8"/>
    <meta name="applicable-device" content="pc">
    <meta http-equiv="x-ua-compatible" content="chrome=1,ie=edge"/>
    <meta name="viewport" content="width=1220, initial-scale=1"/>
    <title>{{&appname}}</title>
    <link href="//cdn.bootcss.com/normalize/5.0.0/normalize.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="dll/dll.vendor.js"></script>
</head>
<body>
<div id="layout">
</div>
</body>
</html>
