<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        #demo{ width:200px; height:200px; border:1px solid #ddd; }
    </style>
</head>
<body>
<div><textarea type="text" id="demo" placeholder="截屏后粘贴到输入框中" size="30"></textarea></div>
<script type="text/javascript">
    (function(){
        document.getElementById( 'demo' ).addEventListener( 'paste', function( e ){
            var clipboardData = e.clipboardData, item,items;
            if( clipboardData ){
                items = clipboardData.items;
                if( !items ){
                    return;
                }
                item = items[0];
                if( item && item.kind === 'file' && item.type.match(/^image\//i) ){
                    var blob = item.getAsFile(),
                        reader = new FileReader();
                    reader.onload = function( e ){
                        var img = new Image();
                        img.src = e.target.result;
                        document.getElementById( 'demo' ).value =e.target.result;
                    };
                    reader.readAsDataURL( blob );
                }
            }
        });
    })();
</script>
</body>
</html>
